* {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
  text-align: center; }

h2 {
  color: #916bd1; }

p {
  color: #F7FFF7; }

.wordColor {
  color: #916bd1; }

/*header---------------------------------------------------------------------------*/
body {
  position: relative;
  z-index: -50; }

header {
  position: fixed;
  width: 100%;
  z-index: 5; }

.navContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%; }

nav {
  display: flex;
  align-items: center;
  background-color: #4B2B75;
  height: 75px;
  width: 100%;
  padding: 0 1rem; }

.input-checkbox {
  display: none; }
  .input-checkbox:checked ~ nav ul {
    transform: translateY(0); }

.navbarToggler {
  display: none;
  padding: 0 20px;
  font-size: 40px;
  color: #916bd1;
  cursor: pointer;
  border: solid 3px #916bd1;
  border-radius: 10px;
  transition: .4s; }

.navbarToggler:active {
  transform: scale(85%); }

h2 {
  color: #916bd1; }

header a {
  color: #F7FFF7;
  text-decoration: none; }

ul {
  list-style: none; }
  ul li {
    transition: 0.5s; }
    ul li a {
      transition: 0.5s; }
      ul li a:hover {
        color: #916bd1; }
    ul li:hover {
      transform: scale(110%); }

@media screen and (max-width: 768px) {
  nav ul {
    display: grid;
    position: absolute;
    background-color: #4B2B75;
    width: 100%;
    top: 75px;
    left: 0;
    transform: translateY(-100%);
    z-index: -1;
    transition: .6s; }
    nav ul li {
      padding: 25px; }
  nav .navbarToggler {
    display: block !important; } }

@media screen and (min-width: 768px) {
  .ul {
    width: 100%; }
    .ul ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      gap: 2rem;
      margin: 0;
      padding: 0;
      width: 100%; } }

/*body------------------------------------------------------------------*/
/*hero------------------------------------------------------------------*/
#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4B2B75;
  padding-top: 75px; }

.heroContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem 0 2rem; }
  .heroContent .heroLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    float: right; }
    .heroContent .heroLeft p,
    .heroContent .heroLeft h1 {
      font-size: 1.5rem;
      font-weight: 500;
      color: #F7FFF7; }

@media screen and (max-width: 768px) {
  img {
    width: 95%;
    max-width: 350px; } }

@media screen and (min-width: 768px) {
  #hero {
    min-height: 90vh; }
    #hero .heroContent {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      #hero .heroContent img {
        width: 50%; }
      #hero .heroContent .heroLeft {
        width: 50%; } }

/*sobre mi------------------------------------------------------------------------*/
.bg {
  background-color: #4B2B75;
  padding: 2rem 0; }

#sobreMi {
  padding-top: 3rem; }
  #sobreMi h2 {
    color: #916bd1;
    padding-top: 2rem; }
  #sobreMi .sobreMiLeft,
  #sobreMi .sobreMiRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  #sobreMi .sobreMiLeft {
    padding-bottom: 2rem; }
  #sobreMi .sobreMiRight {
    gap: 2rem; }

.accordion-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 1.5rem; }

@media screen and (min-width: 768px) {
  #sobreMi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem; }
  .accordion-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); }
  .bg {
    min-height: 90vh; } }

/*proyectos--------------------------------------------------------------------*/
#proyectos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  gap: 2rem; }
  #proyectos h2 {
    color: #916bd1;
    padding: 3rem 0; }

.proyecto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  gap: 1rem; }
  .proyecto .sitio {
    position: relative;
    width: fit-content;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 1rem;
    max-width: 500px; }
    .proyecto .sitio .imgHover {
      width: 100%;
      transition: 0.5s;
      object-fit: cover; }
    .proyecto .sitio .capa {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #906bd180;
      top: 0;
      transition: 0.5s;
      transform: translateX(-100%); }
      .proyecto .sitio .capa p {
        color: #F7FFF7;
        text-decoration: none; }

.sitio:hover .capa {
  transform: translateX(0%); }

.sitio:hover .imgHover {
  transform: scale(110%); }

.orden {
  display: flex;
  flex-wrap: wrap-reverse; }

@media screen and (min-width: 992px) {
  .proyecto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .proyecto p {
      width: 90%; }
  .proyecto:nth-child(even) {
    flex-direction: row-reverse; } }

/*footer-------------------------------------------------------------*/
#contacto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #3F1D67;
  height: 10vh;
  gap: 1rem; }
  #contacto a {
    transition: 0.5s; }
  #contacto a:hover {
    transform: scale(110%); }
