* {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    text-align: center;
}

@import 'variables';

h2 {
    color: $claro2;
}

p {
    color: $claro1;
}

/*header---------------------------------------------------------------------------*/
body {
    position: relative;
    z-index: -50;
}

header {
    position: fixed;
    width: 100%;
    z-index: 5;
}

.navContent {
    @include d-flex-column(row, center, space-between);
    position: relative;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    background-color: $oscuro1;
    height: 75px;
    width: 100%;
    padding: 0 1rem;
}

.input-checkbox {
    display: none;

    &:checked~nav ul {
        transform: translateY(0);
    }
}

.navbarToggler {
    display: none;
    padding: 0 20px;
    font-size: 40px;
    color: $claro2;
    cursor: pointer;
    border: solid 3px $claro2;
    border-radius: 10px;
    transition: .4s;
}

.navbarToggler:active {
    transform:scale(85%);
}

h2 {
    color: $claro2;
}

header {
    a {
        color: $claro1;
        text-decoration: none;
    }
}

ul {
    list-style: none;
}

@media screen and (max-width: 768px) {
    nav {
        ul {
            display: grid;
            position: absolute;
            background-color: $oscuro1;
            width: 100%;
            top: 75px;
            left: 0;
            transform: translateY(-100%);
            z-index: -1;
            transition: .6s;

            li {
                padding: 25px;
            }
        }

        .navbarToggler {
            display: block !important;
        }
    }
}

/*body------------------------------------------------------------------*/
/*hero------------------------------------------------------------------*/

#hero {
    background-color: $oscuro1;
    padding-top: 75px;
}

.heroContent {
    @include d-flex-column(column, center, center);
    gap: 2rem;
    padding: 1rem 0 2rem;


    .heroLeft {
        @include d-flex-column(column, center, center);
        gap: 2rem;
        float: right;

        p,
        h1 {
            font-size: 1.5rem;
            font-weight: 500;
            color: $claro1;
        }

        .wordColor {
            color: $claro2;
        }
    }

    img {
        width: 95%;
        max-width: 350px;
    }
}

/*sobre mi------------------------------------------------------------------------*/

.bg {
    background-color: $oscuro1;
    padding: 2rem 0;
}

#sobreMi {
    h2 {
        color: $claro2;
        padding-top: 2rem;
    }
    padding-top: 3rem;

    .sobreMiLeft, .sobreMiRight {
        @include d-flex-column (column, center, center);
    }

    .sobreMiLeft{
        padding-bottom: 2rem;
    }

    .sobreMiRight{
        gap: 2rem;
    }
}

.accordion-grid {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 1.5rem;
}

@media screen and(min-width: 768px) {
    .accordion-grid{
        display: grid;
        grid-template-columns: repeat(4,1fr);

    }
}

/*proyectos--------------------------------------------------------------------*/
#proyectos {
    @include d-flex-column(column, center, center);
    padding-top: 3rem;

    h2 {
        color: $claro2;
        padding: 3rem 0;
    }

    gap:2rem;
}

.proyecto {
    @include d-flex-column(column, center, center);
    padding: 3rem 0;


    .sitio {
        position: relative;
        width: 95%;
        cursor: pointer;
        overflow: hidden;
        border-radius: 10px;
        margin-bottom: 1rem;
        max-width: 500px;

        .imgHover {
            width: 100%;
            transition: 0.5s;
            object-fit: cover;
        }

        .capa {
            @include d-flex-column(column, center, center);
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #906bd180;
            top: 0;
            transition: 0.5s;
            transform: translateX(-100%);


            p {
                color: $claro1;
                text-decoration: none;
            }
        }
    }

}

.sitio:hover .capa {
    transform: translateX(0%);
}

.sitio:hover .imgHover {
    transform: scale(110%);
}

/*footer-------------------------------------------------------------*/
#contacto {
    @include d-flex-column(row, center, center);
    background-color: $oscuros2;
    padding: 2rem;
    gap: 1rem;

    a {
        transition: 0.5s;
    }

    a:hover {
        transform: scale(110%);
    }
}